@font-face {
    font-family: "TitleFont";
    src: url(Norse-Bold.otf) format("truetype");
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
}

.bdr {
    border: 1px solid burlywood;
}

h1.customfont {
    font-size: 10rem;
    font-family: 'TitleFont', Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}

form {
    /* Center the form on the page */
    margin: 0 auto;

  }

  form li + li {
    margin-top: 1em;
  }

label {
    font-family: 'TitleFont', Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    
    display: flex;
    /*
    flex-flow: row wrap;
    align-items: stretch;
    */
}

.left-container {
    width: 40%;
    background: #bde5fe url("../i/seascape.jpg") no-repeat 10%;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
}

.spacer-1 {
    flex-grow: 2;
}

.spacer-2 {
    flex-grow: 12;
}

.title-container {
    background-color: hsl(192, 17%, 6%);
    color: #fff;
    width: 100%;
    opacity: .3;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}



.odin-logo {
    height: 7.5rem;
}

.right-container {
    width: 60%;
    background-color: #93c8f2;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.form-header {

}
.form-container {
    height:fit-content;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;

}
.form-footer {

}

.formlist {
    list-style : none;
}

.form-container div {
    border: 1px solid red;
}