@font-face {
    font-family: "TitleFont";
    src: url(Norse-Bold.otf) format("truetype");
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
}

.bdr {
    border: 1px solid burlywood;
}

.grey {
    color: gray;
}

.customfont {
    font-family: 'TitleFont', Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 10rem;
}
h2 {
    font-size: 6rem;;
}
p {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
  }

  form li + li {
    margin-top: 1em;
  }

label {
    font-family: 'TitleFont', Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
}

.left-container {
    width: 40%;
    background: #bde5fe url("i/seascape.jpg") no-repeat 10%;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
}

.spacer-1 {
    flex-grow: 2;
}

.spacer-2    {
    flex-grow: 12;
}

.title-container {
    background-color: hsl(192, 17%, 6%);
    color: #fff;
    width: 100%;
    opacity: .3;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}

.odin-logo {
    height: 7.5rem;
}

.right-container {
    width: 60%;
    background-color: #93c8f2;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.form-header {
    padding: 0px 3rem;
    margin: 0px;
}
.form-container {
    height:fit-content;
    padding: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: #B1DAFB;
    filter: drop-shadow(1px 1px 4px grey);
    margin: 1.6rem 0px;

}
.form-footer {
    padding: 0px 3rem;
    margin: 0px;
}

.formlist {
    list-style : none;
}

.form-container div {
    padding: 0.8rem;
    padding-inline-start: 0px;
    flex-basis: 213px;
}

.nopadding{
    padding: 0px !important;
    margin: 0px !important;
}

.alignright {
    align-content: flex-start;
    text-align: right;
}

/* 
   This is used to attach a linebreak in flexbox. 
   IMPORTANT, this declaration must appear 
   after '.form-contaier div'.
*/
.break {
    flex-basis: 100% !important; 
    height: 0;
    padding: 0px !important;
    margin: 0px;
  }

.wide100 {
    flex-basis: 446px !important ;
  }

label,input{
    display:flex;
    flex-direction:column;
  }

input {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0.4rem;
  }

input:invalid {
    border: 2px solid white;
    background-color: lightpink;
  }
  
input:valid {
    border: 2px solid black;
    background-color:#c7ffc7;
  }

.button {
    font-family: 'TitleFont', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    padding: .2rem 1.2rem;
    margin: 0rem;
    border-radius: 8px;
    border: none;

}

.button:disabled {
    background-color: lightgrey;
    color: gray;
}

.button:valid {
    background-color: blue;
    color: white   ;
}

#passwordMessage {
    padding: .2em;
    border-radius: 3px;
}

#passwordFormatMessage{
    padding: .2em;
    border-radius: 3px;
}

.passwordMessageTrue {
    background-color: #c7ffc7;
    border: 2px solid white !important;
}

.passwordMessageFalse {
    background-color: lightpink;
    border: 2px solid white !important;
}



